<!DOCTYPE html>
<html>
    <head>
        <title>
            Add Study Session
        </title>
    </head>
    <body>
        <h1> 
            Add Study Session
        </h1>

        <form method="POST">
            <label>Date</label>
            <input type="date" name="date" required><br><br>

            <label>Course Studied</label>
            <input type="text" name="course_studied" required><br><br>

            <label>Study Method</label>
            <select name="study_method" required>
                <option value="Reading/Notes">Reading/Notes</option>
                <option value="Watch Tutorials">Watch Tutorials</option>
                <option value="Practice">Practice</option>
                <option value="Revision">Review</option>
            </select><br><br>

            <label>Number of Hours Studied</label>
            <input type="number" name="study_hours" step="0.1" min="0" required><br><br>

            <label>Break Time (in minutes)</label>
            <input type="number" name="break_time" min="0" required><br><br>

            <label>Productivity Rating (1-5)</label>
            <input type="number" name="productivity_rating" min="1" max="5" required><br><br>

            <button type="submit">Save Study Session</button>
        </form>

        <br><br>
        <a href="/">Dashboard</a>
        <a href="/view">Saved Study Sessions</a>
    </body>
</html>