<!DOCTYPE html>
<html>
    <head>
        <title>Add a Study Session</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="top-bar">
            <a href="/">Dashboard</a>
            <a href="/view">View Saved Sessions</a>
        </div>

        <h1> Add a Study Session</h1>

        <div class="form-container">
            <div class="form-box">
                <form method="POST">
                    <label>Date</label>
                    <input type="date" name="date" required>

                    <label>Course Studied</label>
                    <input type="text" name="course_studied" placeholder="Eg. Statistics" required>

                    <label>Study Method</label>
                    <select name="study_method" required>
                        <option value="Reading/Notes">Reading/Notes</option>
                        <option value="Watch Tutorials">Watch Tutorials</option>
                        <option value="Practice">Practice</option>
                        <option value="Revision">Revision</option>
                    </select>

                    <label>Number of Hours Studied</label>
                    <input type="number" name="study_hours" step="0.1" min="0" placeholder="Eg. 0.5" required>

                    <label>Break Time (in minutes)</label>
                    <input type="number" name="break_time" min="0" placeholder="Eg. 10" required>

                    <label>Productivity Rating (1-5)</label>
                    <input type="number" name="productivity_rating" min="1" max="5" placeholder="Eg. 3" required>

                    <button type="submit" class="save-btn">Save</button>
                </form>
            </div>
        </div>
    </body>
</html>