<!DOCTYPE html>
<html>
    <head>
        <title>
            Dashboard
        </title>
    </head>
    <body>
        <h1>Personal Study Analytics Dashboard</h1>

        <h3>Filter by Time Range</h3>
        <form method="GET" action="/">
            <select name="filter" onchange="this.form.submit()"
                    style="padding: 6px; font-size: 14px;">
                <option value="all" {% if filters == "all" %}selected{% endif %}>
                    All Time
                </option>
                 <option value="7" {% if filters == "7" %}selected{% endif %}>
                    Last 7 Days
                </option>
                 <option value="30" {% if filters == "30" %}selected{% endif %}>
                    Last 30 Days
                </option>
            </select>
        </form>

        <p>Total Study Sessions {{entries}}</p>
        <p>Total Hours Studied {{total_study_hours}}</p>
        <p>Average Productivity {{avg_productivity}}</p>
        <p>Average Break Time {{avg_break_time}} minutes</p>

        <div style="display: flex; gap: 30px; justify-content: center; align-items: flex-start; flex-wrap: wrap;">
            <div>
                <h2>Study Hours over Time</h2>
                <canvas id="studyHoursOverTime" width="500" height="200"></canvas>
            </div>

            <div>
                <h2>Productivity over Time</h2>
                <canvas id="productivityOverTime" width="500" height="200"></canvas>
            </div>
        </div>"

        <br><br>
        <div style="display: flex; gap: 30px; justify-content: center; align-items: flex-start; flex-wrap: wrap;"">
            <div>
                <h2>Time Spent by Course</h2>
                <canvas id="timeOnCourse" width="500" height="200"></canvas>
            </div>

            <div>
                <h2>Average Productivty by Study Method</h2>
                <canvas id="productivityByMethod" width="500" height="200"></canvas>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            const studyLabel = JSON.parse('{{study_label | tojson}}');
            const studyData = JSON.parse('{{study_value | tojson}}');

            const context = document.getElementById('studyHoursOverTime').getContext('2d')

            new Chart(context, {
                type: 'line',
                data: {
                    labels: studyLabel,
                    datasets: [{
                        label: 'Hours Studied',
                        data: studyData,
                        borderWidth: 2,
                        fill:false
                    }]
                },
                options:{
                    responsive: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

        <script>
            const productivityLabel = JSON.parse('{{productivity_label| tojson}}');
            const productivityData = JSON.parse('{{productivity_value | tojson}}');

            const context1 = document.getElementById('productivityOverTime').getContext('2d')

            new Chart(context1, {
                type: 'line',
                data: {
                    labels: productivityLabel,
                    datasets: [{
                        label: 'Productivity',
                        data: productivityData,
                        borderWidth: 2,
                        fill:false
                    }]
                },
                options:{
                    responsive: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                            max: 5
                        }
                    }
                }
            });
        </script>

        <script>
            const courseLabel = JSON.parse('{{course_label | tojson}}');
            const courseData = JSON.parse('{{course_value | tojson}}');

            const context2 = document.getElementById('timeOnCourse').getContext('2d')

            new Chart(context2, {
                type: 'bar',
                data: {
                    labels: courseLabel,
                    datasets: [{
                        label: 'Hours Spent',
                        data: courseData,
                        borderWidth: 1,
                    }]
                },
                options:{
                    responsive: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

        <script>
            const methodLabel = JSON.parse('{{method_label | tojson}}');
            const methodData = JSON.parse('{{method_value | tojson}}');

            const context3 = document.getElementById('productivityByMethod').getContext('2d')

            new Chart(context3, {
                type: 'bar',
                data: {
                    labels: methodLabel,
                    datasets: [{
                        label: 'Average Productivty',
                        data: methodData,
                        borderWidth: 1,
                    }]
                },
                options:{
                    responsive: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                            max: 5
                        }
                    }
                }
            });
        </script>

        <br><br>
        <a href="/add">Add Study Session</a>
        <a href="/view">Saved Study Sessions</a>
    </body>
</html>