<!DOCTYPE html>
<html>
    <head>
        <title>
            Dashboard
        </title>
    </head>
    <body>
        <h1>Personal Study Analytics Dashboard</h1>

        <p>Total Study Sessions {{entries}}</p>
        <p>Total Hours Studied {{total_study_hours}}</p>
        <p>Average Productivity {{avg_productivity}}</p>
        <p>Average Break Time {{avg_break_time}} minutes</p>

        <h2>Study Hours Over Time</h2>
        <canvas id="studyHoursOverTime" width="500" height="200"></canvas>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            const studyLabel = JSON.parse('{{study_dates | tojson}}');
            const studyData = JSON.parse('{{study_hours | tojson}}');

            const context = document.getElementById('studyHoursOverTime').getContext('2d')

            new Chart(context, {
                type: 'line',
                data: {
                    labels: studyLabel,
                    datasets: [{
                        label: 'Hours Studied',
                        data: studyData,
                        borderWidth: 2,
                        fill:false
                    }]
                },
                options:{
                    responsive: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

        <h2>Productivity Over Time</h2>
        <canvas id="productivityOverTime" width="500" height="200"></canvas>

        <script>
            const productivityLabel = JSON.parse('{{productivity_dates | tojson}}');
            const productivityData = JSON.parse('{{productivity_values | tojson}}');

            const context1 = document.getElementById('productivityOverTime').getContext('2d')

            new Chart(context1, {
                type: 'line',
                data: {
                    labels: productivityLabel,
                    datasets: [{
                        label: 'Productivity',
                        data: productivityData,
                        borderWidth: 2,
                        fill:false
                    }]
                },
                options:{
                    responsive: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                            max: 5
                        }
                    }
                }
            });
        </script>

        <br><br>
        <a href="/add">Add Study Session</a>
        <a href="/view">Saved Study Sessions</a>
    </body>
</html>