<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
         <div class="top-bar">
            <h1 class="p-title">Personal Study Analytics Dashboard</h1> 

            <div class="nav-buttons">
                <a href="/add">Add a Study Session</a>
                <a href="/view">View Saved Sessions</a>
            </div>
        </div>

        <div class="card-row">
            <div class="card">
                <div class="card-top">
                    <p class="card-name">Total Study Sessions</p>

                    <form method="GET" action="/">
                        <select name="filter" onchange="this.form.submit()">
                            <option value="all" {% if filters == "all" %}selected{% endif %}>
                                All Time
                            </option>
                            <option value="7" {% if filters == "7" %}selected{% endif %}>
                                Last 7 Days
                            </option>
                            <option value="30" {% if filters == "30" %}selected{% endif %}>
                                Last 30 Days
                            </option>
                        </select>
                    </form>
                </div>
                <div class="card-value">
                    <span class="value">{{entries}}</span> 
                </div>
            </div>

            <div class="card">
                <div class="card-top">
                    <p class="card-name">Total Hours Studied</p>
                    <div style="width: 90px;"></div>
                </div>
                <div class="card-value">
                    <span class="value">{{total_study_hours}}</span> 
                    <span class="unit">hrs</span>
                </div>
            </div>

            <div class="card">
                <div class="card-top">
                    <p class="card-name">Average Productivity (1-5)</p>
                    <div style="width: 90px;"></div>
                </div>
                <div class="card-value">
                    <span class="value">{{avg_productivity}}</span> 
                </div>
            </div>

            <div class="card">
                <div class="card-top">
                    <p class="card-name">Average Break Time</p>
                    <div style="width: 90px;"></div>
                </div>
                <div class="card-value">
                    <span class="value">{{avg_break_time}}</span> 
                    <span class="unit">mins</span>
                </div>
            </div>
        </div>

        <div class="chart-grid">
            <div class="chart-card">
                <h2>Study Hours over Time</h2>
                <canvas id="studyHoursOverTime"></canvas>
            </div>

            <div class="chart-card">
                <h2>Productivity over Time</h2>
                <canvas id="productivityOverTime"></canvas>
            </div>
        </div>

        <div class="chart-grid">
            <div class="chart-card">
                <h2>Time Spent by Course</h2>
                <canvas id="timeOnCourse"></canvas>
            </div>

            <div class="chart-card">
                <h2>Average Productivity by Study Method</h2>
                <canvas id="productivityByMethod"></canvas>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            const studyLabel = JSON.parse('{{study_label | tojson}}');
            const studyData = JSON.parse('{{study_value | tojson}}');

            const productivityLabel = JSON.parse('{{productivity_label| tojson}}');
            const productivityData = JSON.parse('{{productivity_value | tojson}}');
    
            const courseLabel = JSON.parse('{{course_label | tojson}}');
            const courseData = JSON.parse('{{course_value | tojson}}');

            const methodLabel = JSON.parse('{{method_label | tojson}}');
            const methodData = JSON.parse('{{method_value | tojson}}');
        </script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>