<!DOCTYPE html>
<html>
    <head>
        <title>Saved Study Sessions</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="top-bar">
            <a href="/">Dashboard</a>
            <a href="/add">Add a Study Session</a>
        </div>
        
        <h1>Saved Study Sessions</h1>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Course</th>
                        <th>Study Method</th>
                        <th>Hours Studied</th>
                        <th>Break Time (in mins)</th>
                        <th>Productivity (1-5)</th>
                    </tr>
                </thead>

                <tbody>
                    {% for session in sessions %}
                    <tr>
                        <td>{{session["id"]}}</td>
                        <td>{{session["date"]}}</td>
                        <td>{{session["course_studied"]}}</td>
                        <td>{{session["study_method"]}}</td>
                        <td>{{session["study_hours"]}}</td>
                        <td>{{session["break_time"]}}</td>
                        <td>{{session["productivity_rating"]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>